<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="#" class="page-header__logo">
                Argement Documents<br>
                Clearing Services
            </a>
            <div class="page-header__contacts">
                <a href="#" class="page-header__contacts-link">
                    <svg width="45" height="45" aria-hidden="true" class="icon-whatsapp">
                        <use xlink:href="#whatsapp"></use>
                    </svg>
                </a>
                <a href="#" class="page-header__contacts-link">
                    <svg width="45" height="45" aria-hidden="true" class="icon-telegram">
                        <use xlink:href="#telegram"></use>
                    </svg>
                </a>
                <a href="#" class="page-header__contacts-link show-on-mobile">
                    <svg width="45" height="45" aria-hidden="true" class="icon-phone">
                        <use xlink:href="#phone"></use>
                    </svg>
                </a>
            </div>
            <div class="page-header__languages js-languages">
                <button class="page-header__languages-current" type="button">
                    Рус
                </button>
                <div class="page-header__languages-dropdown">
                    <div class="page-header__languages-dropdown-inner">
                        <a href="#" class="page-header__languages-link">
                            Eng
                        </a>
                        <a href="#" class="page-header__languages-link active">
                            Рус
                        </a>
                    </div>
                </div>
            </div>
            <a href="#callback" class="page-header__callback-btn">
                Оставить заявку
            </a>
        </div>
    </div>
</header>