{{#extend "layout"}}
    {{#content "main"}}


        <section class="intro">
            <img src="img/intro-shape.svg" alt="" class="intro__shape">
            <div class="container">
                <div class="intro__row">
                    <div class="intro__text-content">
                        <h1 class="intro__main-heading">

                            Регистрация бизнеса в ОАЭ<br>
                            <em>
                                от идеи к результату
                            </em>
                        </h1>
                        <div class="intro__text">
                            <p>
                                Открываем новые возможности вашему бизнесу в ОАЭ с безусловным доверием со стороны
                                банков, контрагентов и контролирующих органов
                            </p>
                        </div>
                        <a href="#" class="intro__btn">
                            Записаться на консультацию
                        </a>
                    </div>
                    <div class="intro__image-wrapper">
                        <img src="img/intro.jpg" alt="" class="intro__image">
                    </div>
                </div>
            </div>
        </section>

        <section class="advantages">
            <div class="container">
                <h2 class="advantages__heading">
                    Почему нам можно доверять?
                </h2>
                <div class="advantages__wrapper">
                    <img src="img/waves.svg" alt="" class="advantages__shape">

                    <ul class="advantages__list">
                        <li class="advantages__list-item">
                            <div class="advantages__card">
                                <div class="advantages__card-amount">
                                    24
                                </div>
                                <div class="advantages__card-text">
                                    отрасли с<br> успешными кейсами
                                </div>
                            </div>
                        </li>
                        <li class="advantages__list-item">
                            <div class="advantages__card">
                                <div class="advantages__card-amount">
                                    19
                                </div>
                                <div class="advantages__card-text">
                                    лет опыта
                                </div>
                            </div>
                        </li>
                        <li class="advantages__list-item">
                            <div class="advantages__card">
                                <div class="advantages__card-amount">
                                    100+
                                </div>
                                <div class="advantages__card-text">
                                    постоянных клиентов
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>


        <section class="documents">

            <picture>
                <source srcset="img/documents-shape-mobile.svg" media="(max-width: 640px)" />
                <img src="img/documents-shape.svg" alt="" class="documents__shape" />
            </picture>
            <div class="container">
                <h2 class="documents__heading">
                    Argument Documents<br>
                    Clearing Services
                </h2>
                <div class="documents__text">
                    <p>
                        Мы ведущая компания в ОАЭ, которая оказывает полный спектр консалтинговых услуг и успешно решает
                        задачи, связанные с организацией бизнеса.
                    </p>
                    <p>
                        Чтобы каждая из ваших бизнес-целей была достигнута, мы объединили в своей команде опытных
                        профессиональных юристов с глубокой экспертизой в различных областях права. Мы знаем, насколько
                        тонко и точно надо действовать в чужой юрисдикции.
                    </p>
                </div>
                <a href="#" class="documents__link">
                    Записаться на консультацию
                </a>
            </div>
        </section>


        <section class="services">
            <img src="img/left-blob.svg" alt="" class="services__left-blob">
            <picture>
                <source srcset="img/right-blob-mobile.svg" media="(max-width: 640px)" />
                <img src="img/right-blob.svg" alt="" class="services__right-blob" />
            </picture>
            <div class="container">
                <div class="services__info">
                    <h2 class="services__info-heading">
                        <em>Услуги</em> по созданию<br> бизнеса
                    </h2>
                    <ul class="services__info-list">
                        <li class="services__info-list-item">
                            <div class="services__info-card">
                                Консультирование и помощь в правовой организации компании с учетом особенностей
                                законодательства ОАЭ
                            </div>
                        </li>
                        <li class="services__info-list-item">
                            <div class="services__info-card">
                                Комплексное сопровождение деятельности компании
                            </div>
                        </li>
                        <li class="services__info-list-item">
                            <div class="services__info-card">
                                Открытие бизнеса в ОАЭ с бизнес-счетом в банке
                            </div>
                        </li>
                        <li class="services__info-list-item">
                            <div class="services__info-card">
                                Сопровождение процесса регистрации товарного знака в соответствии с законодательством
                                ОАЭ
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="services__guarantees">
                    <h2 class="services__guarantees-heading">
                        Мы <em>гарантируем</em>
                    </h2>
                    <div class="services__guarantees-row">
                        <div class="services__guarantees-col">
                            <ul class="services__guarantees-list">
                                <li class="services__guarantees-list-item">
                                    <div class="services__guarantees-card">
                                        <h3 class="services__guarantees-card-title">
                                            Подписание договора
                                        </h3>
                                        <div class="services__guarantees-card-text">
                                            <p>
                                                Мы работаем только по договору, который может быть заключен как с
                                                российской,
                                                так и с зарубежной компанией. Принимая на себя ответственность за
                                                каждого своего
                                                клиента, мы строго прописываем в договоре все наши обязательства.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="services__guarantees-list-item">
                                    <div class="services__guarantees-card">
                                        <h3 class="services__guarantees-card-title">
                                            Низкие и прозрачные цены
                                        </h3>
                                        <div class="services__guarantees-card-text">
                                            <p>
                                                Наши предложения выгодно отличают нас от конкурентов. Письменно фиксируя
                                                каждый
                                                этап работы, мы всегда можем конкретизировать и обосновать стоимость
                                                оказываемых
                                                услуг.
                                            </p>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="services__guarantees-col">
                            <ul class="services__guarantees-list">

                                <li class="services__guarantees-list-item">
                                    <div class="services__guarantees-card">
                                        <h3 class="services__guarantees-card-title">
                                            Индивидуальный подход
                                        </h3>
                                        <div class="services__guarantees-card-text">
                                            <p>
                                                Мы практикуем штучный, а не массовый подход к проектам. Работая с
                                                глубоким
                                                погружением в каждый конкретный кейс, мы детально анализируем все
                                                потребности
                                                наших клиентов, чтобы найти для них идеальное решение.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="services__guarantees-list-item">
                                    <div class="services__guarantees-card">
                                        <h3 class="services__guarantees-card-title">
                                            Профессионализм сотрудников
                                        </h3>
                                        <div class="services__guarantees-card-text">
                                            <p>
                                                Мы обеспечиваем профессиональную юридическую поддержку вашего бизнеса
                                                своей
                                                командной работой высококлассных специалистов. Профессиональные
                                                компетенции
                                                каждого из них проверены опытом и непрерывной практикой. За каждым
                                                клиентом
                                                закрепляется персональный менеджер и юрист, которые всегда на связи и
                                                готовы
                                                ответить на все вопросы.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="about">

            <div class="about__content">
                <div class="about__bg">

                    <picture>
                        <source srcset="img/dubai-bg-mobile.jpg" media="(max-width: 640px)" />
                        <img src="img/dubai-bg.jpg" alt="" class="about__bg-image" />
                    </picture>
                    <picture>
                        <source srcset="img/about-shape-mobile.svg" media="(max-width: 640px)" />
                        <img src="img/about-shape.svg" alt="" class="about__bg-shape" />
                    </picture>

                </div>
                <div class="about__info">
                    <div class="container">
                        <h2 class="about__heading">
                            Дубаи
                        </h2>
                        <div class="about__text">
                            один из ведущих центров в области исследований и разработок в разных отраслях.
                        </div>
                        <a href="#" class="about__link">
                            Заказать консультацию
                        </a>
                    </div>
                </div>
                <div class="about__features">
                    <div class="container">
                        <ul class="about__features-list">
                            <li class="about__features-list-item">
                                Рациональные налоговые обязательства
                            </li>
                            <li class="about__features-list-item">
                                Активная поддержка предпринимательской деятельности со стороны государства
                            </li>
                            <li class="about__features-list-item">
                                Развитость
                                глобальной связи
                            </li>
                            <li class="about__features-list-item">
                                Присутствие иностранных компаний как на материке, так и в свободных зонах
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <section class="route">

            <picture>
                <source srcset="img/route-shape-mobile.svg" media="(max-width: 640px)" />
                <img src="img/route-shape.svg" alt="" class="route__shape" />
            </picture>
            <div class="route__heading-wrapper">
                <div class="container">
                    <h2 class="route__heading">
                        Маршрут построен!
                    </h2>
                    <div class="route__heading-text">
                        Мы выбираем оптимальный вариант открытия вашей компании, детально изучая бизнес и подбираем
                        оптимальное решение
                    </div>
                </div>

            </div>
            <div class="route__content">
                <div class="container">
                    <div class="route__inner-wrapper">


                        <ul class="route__list">
                            <li class="route__list-item">
                                <div class="route__card">
                                    <h3 class="route__card-title">
                                        Определяем цель открытия бизнеса
                                    </h3>
                                    <div class="route__card-text">
                                        для поиска целесообразного и правильного места для регистрации компании
                                    </div>
                                </div>
                            </li>
                            <li class="route__list-item">
                                <div class="route__card">
                                    <h3 class="route__card-title">
                                        Оцениваем перспективы деятельности бизнеса
                                    </h3>
                                    <div class="route__card-text">
                                        с целью планирования возможных обязательств по уплате налогов в ОАЭ
                                    </div>
                                </div>
                            </li>
                            <li class="route__list-item">
                                <div class="route__card">
                                    <h3 class="route__card-title">
                                        Принимаем во внимание страну, где вы проживаете
                                    </h3>
                                    <div class="route__card-text">
                                        чтобы определить ваши налоговые обязательства как физлица и
                                        статус налогового резидента ОАЭ
                                    </div>
                                </div>
                            </li>
                            <li class="route__list-item">
                                <div class="route__card">
                                    <h3 class="route__card-title">
                                        Изучаем ваши деловые операции
                                    </h3>
                                    <div class="route__card-text">
                                        с целью открытия банковского счета и указания видов экономической деятельности
                                        рамках вашей лицензии
                                    </div>
                                </div>
                            </li>
                            <li class="route__list-item">
                                <div class="route__card">
                                    <h3 class="route__card-title">
                                        Обеспечиваем соответствие вашего бизнеса всем законам ОАЭ
                                    </h3>
                                    <div class="route__card-text">
                                        чтобы избежать штрафов.
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="route__link">
                            Записаться на консультацию
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <section class="consultation">
            <div class="container">
                <div class="consulation__row">
                    <div class="consultation__text-content">
                        <h2 class="consultation__heading">
                            <em> Argument Documents Clearing Services</em> —
                            найди своих людей, чтобы уверенно идти вперед
                        </h2>
                    </div>
                    <form action="/" method="POST" class="consultation__form" data-need-validation="">
                        <h3 class="consultation__form-heading">
                            Записаться на<br> консультацию
                        </h3>
                        <div class="consultation__form-fields">
                            <div class="consultation__form-field">
                                <label for="name" class="consultation__form-label">
                                    Имя
                                </label>
                                <input type="text" name="name" class="consultation__form-input" required="" id="name">
                            </div>
                            <div class="consultation__form-field">
                                <label for="phone" class="consultation__form-label">
                                    Телефон
                                </label>
                                <input type="tel" name="name" class="consultation__form-input js-phone-input"
                                    required="" id="phone" data-parsley-phone="">
                            </div>
                        </div>
                        <button class="consultation__form-submit" type="submit">
                            Записаться на консультацию
                        </button>
                    </form>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}